<div class="container mt-4">
  <h1>Painel Administrativo</h1>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Usuários</h5>
          <p class="card-text display-4"><%= @total_users %></p>
          <%= link_to "Gerenciar Usuários", admin_users_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Aulas</h5>
          <p class="card-text display-4"><%= @total_lessons %></p>
          <%= link_to "Gerenciar Aulas", admin_lessons_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Depoimentos</h5>
          <p class="card-text display-4"><%= @total_testimonials %></p>
          <%= link_to "Gerenciar Depoimentos", admin_testimonials_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
